:root{
    /* primary */
    --navy-950: hsl(233, 47%, 7%);
    --blue-950: hsl(244, 37%, 16%);
    --purple-500: hsl(277, 64%, 61%);
    /* neutral */
    --White-heading: hsl(0, 0%, 100%);
    --White-paragraph: hsla(0, 0%, 100%, 0.75);
    --White-headings: hsla(0, 0%, 100%, 0.6);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    font-size: 15px;
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 100dvh;
    padding: 89px 24px 48px 24px;
    background: var(--navy-950);
}

.stats-card{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: var(--blue-950);
    border-radius: 12px;
    overflow: hidden;
}

@media(min-width: 768px){
    body{
        padding: 175px 24px 48px 24px;
    }
    .stats-card{
        flex-direction: row-reverse;
        align-items: stretch;
    }
}

/* image */
.card-image{
    position: relative;
    height: 240px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    filter: grayscale(100%);
}

.color-overlay {
    /* Posicionamiento para cubrir todo el contenedor */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--purple-500); 
    opacity: 0.6;     
    z-index: 5; 
}

@media (min-width: 768px) {
    .card-image{
        /* Esto hace que ocupe el 60% del contenedor */
        flex: 0 0 49%; 
        height: 450px; /* Mantener la altura deseada */
        width: auto; /* Dejar que Flexbox maneje el ancho */
    }
}

/* card content */
.card-content{
    padding: 35px 14px 35px 14px;
}

.card-title{
    color: var(--White-heading);
    margin-top: 5px;
    font-size: 30px;
    letter-spacing: .001px;
    line-height: 31px;
    text-align: center;
}

.card-title span{  
    color: var(--purple-500);
}

.card-text{
    margin-top: 18px;
    padding: 0 7px;
    color: var(--White-paragraph);
    text-align: center;
    line-height: 25px;
    letter-spacing: 1px;
}

.card-list{
    margin-top: 40px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.list-data{
    text-align: center;
}

.list-data strong {
    color: var(--White-heading);
    font-size: 28px;
}

.list-data span {
    display: block;
    padding-top: 5px;
    color: var(--White-headings);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

@media(min-width: 768px){
    .card-content{
        flex: 0 0 51%;
        height: 450px; /* Mantener la altura igual a la imagen */
        width: auto; /* IMPORTANTE */
        /* Ajusta el padding aquí (en el CONTENEDOR del texto) */
        padding: 44px 70px 44px 70px; 
    }

    .card-title{
        margin-top: 30px;
        font-size: 36.9px;
        text-align: left;
        line-height: 43px;
        letter-spacing: .0001px;
    }

    .card-list{
        flex-direction: row;
    }

    .card-text{
        margin-top: 25px;
        padding: 0 0;
        text-align: left;
    }

    .card-list{
        margin-top: 70px;
        gap: 68px;
    }

    .list-data{
        text-align: left;
    }

}


